<div style="width: 600px;">
    <div>
        <input matInput mat-dialog-title [(ngModel)]="data.title" style="border: none;outline: none;">
    </div>
    <div>
        <input matInput mat-dialog-content [(ngModel)]="data.description" style="border: none;outline: none;">
    </div>
    <div mat-dialog-actions style="float: right;">
        <app-archive-icon></app-archive-icon>
        <app-color-pallete></app-color-pallete>
        <button mat-button (click)="editNotes(data)">Close</button>
    </div>
</div>