<div style="width: 600px;" [ngStyle]="{'background-color':data.color}">
    <div>
        <input matInput mat-dialog-title [(ngModel)]="data.title" style="border: none;outline: none;">
    </div>
    <div>
        <input matInput mat-dialog-content [(ngModel)]="data.description" style="border: none;outline: none;">
    </div>
    <div mat-dialog-actions style="display: flex;justify-content: space-between;">
        <div style="display: flex;justify-content: space-between;width: 40%;">
            <app-reminders-icon></app-reminders-icon>
            <app-archive-icon [note]="data.noteId"></app-archive-icon>
            <app-color-pallete [noteData]="data.noteId"></app-color-pallete>
            <app-delete-icon [note]="data.noteId"></app-delete-icon>
        </div>
        <button mat-button (click)="editNotes(data)">Close</button>
    </div>
</div>