.fill-remaining-space {
    display: flex;
    flex-direction: row;
}

.complete-class {
    padding: 1em;
}

.done-button {
    min-width: 0px;
    padding: 5px;
    line-height: 0px;
    border-radius: 50%;
}

.done_ {
    position: relative;
    top: 5px;
}

.done {
    background-color: transparent;
    float: right;
    margin: 5px 0px 0px 0px;
}

.label-div {
    width: -webkit-fill-available;
    padding: 7px;
}