<div class="complete-class">
    <h2>
        <b>Edit Labels</b>
    </h2>

    <mat-form-field appearance="fill legacy">
        <input [formControl]="labelNote" matInput placeholder="Create new label">
    </mat-form-field>
    <button mat-button class="done-button done_" style="float: right;" (click)="addLabel()">
        <mat-icon>
            done
        </mat-icon>
    </button>

    <div *ngFor="let labels of allLabels">
        <div fxLayout="column">
            <div class="fill-remaining-space">
                <button mat-button class="done-button">
                    <mat-icon>
                        delete
                    </mat-icon>
                </button>
                <!-- <input [formControl]="labelNote" matInput value="{{labels.label}}"> -->
                <span>{{labels.label}}</span>
                <button mat-button class="done-button" (click)="addLabel()">
                    <mat-icon>
                        edit
                    </mat-icon>
                </button>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div>
        <button mat-button class="done" (click)="this.dialogRef.close()">
            Done
        </button>
    </div>
</div>