.topnav {
    border-bottom: .5px solid darkgray;
}

.shadow:hover {
    background-color: #E8E8E8;
    border-radius: 0px 50px 50px 0px;
}

.search {
    padding: 7%;
    width: 300%;
    border-radius: 8px;
}

#fixed {
    width: 7%;
    padding-left: 2%;
}

mat-sidenav-container {
    height: 100%;
}

mat-sidenav {
    background-color: white;
    width: 17%;
}

p {
    margin-top: 2%;
    border: 2px solid whitesmoke;
    width: 25%;
    height: 2%;
    padding: 1%;
    border-radius: 10px;
    color: grey;
    padding: 10px;
}

.borderShadow {
    width: 55%;
    background-color: white;
    display: flex;
    align-items: center;
    position: relative;
    left: 50px;
    border-radius: 5px;
    height: 47px;
    opacity: 80%;
}

.text {
    background-color: transparent;
    border-radius: 5px;
    border: none;
    padding: 5px;
    outline: none;
    border: transparent;
    width: 100%;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    font-size: .875rem;
    font-weight: 500;
    color: black;
}

.textAreaWidth {
    min-width: 150px;
    max-width: 500px;
    width: 100%
}

.sizeOfNotesBox {
    height: 17%;
    width: 19%;
}

.noteBox {
    margin-top: 2%;
    border-radius: 2px solid whitesmoke;
}

#sidenav.menu-close {
    width: 0px;
}

#sidenav.menu-open {
    width: 280px;
}

.mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.account {
    margin: 0% 0% -100% 0%;
    width: 250px;
    float: right;
    z-index: 10;
}

.signout {
    padding: 3% 3% 3% 3%;
    border: 1px solid #c0bebe;
    background-color: transparent;
    float: right;
    margin: 5px 0px 0px 0px;
}