<div class="topnav">
    <mat-toolbar>
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="start center" class="page">
            <mat-toolbar-row>
                <div>
                    <button mat-icon-button (click)="onToolBarToggle()">
                        <mat-icon>menu</mat-icon>
                    </button>
                </div>
                <div>
                    <img src="..\\assets\\images\\keep_48dp.png">
                </div>
                <div>
                    <label style="color: yellowgreen;">Fundoo<span style="color:gold">Notes</span></label>
                </div>
                <div class="borderShadow">
                    <mat-icon>search</mat-icon>
                    <input type="text" placeholder="Search" class="text">
                    <mat-icon style="padding-right: 15px;">close</mat-icon>
                </div>
            </mat-toolbar-row>
            <button mat-icon-button (click)="refresh()">
                <mat-icon>{{refreshVeiw}}</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" id="sidenav" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen" opened>

        <div class="shadow" style="padding-top:3%" fxLayout="row">
            <button mat-icon-button (click)="onToolBarToggle()">
                <mat-icon>emoji_objects</mat-icon>
            </button><button mat-button (click)="onToolBarToggle()">Notes</button>
        </div>
        <br>
        <div class="shadow" fxLayout="row">
            <button mat-icon-button (click)="onToolBarToggle()">
                <mat-icon>notifications_none</mat-icon>
            </button> <button mat-button (click)="onToolBarToggle()">Reminders</button>
        </div>
        <br>
        <div class="shadow" fxLayout="row">
            <button mat-icon-button (click)="onToolBarToggle()">
                <mat-icon>label</mat-icon>
            </button><button mat-button (click)="onToolBarToggle()">Label</button>
        </div><br>
        <div class="shadow" fxLayout="row">
            <button mat-icon-button (click)="onToolBarToggle()">
                <mat-icon>create</mat-icon>
            </button><button mat-button (click)="onToolBarToggle()">Edite labels</button>
        </div><br>
        <div class="shadow" fxLayout="row">
            <button mat-icon-button (click)="onToolBarToggle()">
                <mat-icon>archive</mat-icon>
            </button><button mat-button (click)="onToolBarToggle()">Archive</button>
        </div><br>
        <div class="shadow" fxLayout="row">
            <button mat-icon-button (click)="onToolBarToggle()">
                <mat-icon>delete_outline</mat-icon>
            </button><button mat-button (click)="onToolBarToggle()">Trash</button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content [ngStyle]="{'margin-left.px': contentMargin}">
        <div style="padding-top: 15px;">
            <form class="formWidth" *ngIf="switchBox==false" (click)="clickBox()">
                <div class="dialogbox">
                    <div>Take a note...</div>
                    <div class="grid-icon">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">brush</mat-icon>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">list</mat-icon>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">image</mat-icon>
                    </div>
                </div>
            </form>
            <div style="display: flex;justify-content: center;">
                <form class="example-form" *ngIf="switchBox==true" [formGroup]="form">
                    <input type="text" placeholder="Title" class="tan" style="font-size: 1rem;" formControlName="title">
                    <input type="text" placeholder="Take a note..." class="tan" formControlName="description">
                    <div style="padding: 5px;">
                        <button mat-button (click)="clickBox()" class="note-button">close</button>
                    </div>
                </form>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>