<div class="mat-display-container">
    <div *ngFor="let item of noteData.slice().reverse()" class="mat-display">
        <mat-card>
            <div class="mat-title">
                <mat-card-title>
                    {{item.title}}
                </mat-card-title>
            </div>
            <div class="mat-desc">
                <mat-card-content>
                    {{item.description}}
                </mat-card-content>
                <app-reminders-icon></app-reminders-icon>
                <app-archive-icon></app-archive-icon>
                <app-delete-icon></app-delete-icon>
            </div>
        </mat-card>
    </div>
</div>