<div class="mat-display-container">
    <div *ngFor="let item of noteData" class="mat-display">
        <mat-card [ngStyle]="{'background-color': item.color}">
            <div class="mat-title">
                <mat-card-title (click)="openDialog(item)">
                    {{item.title}}
                </mat-card-title>
            </div>
            <div class="mat-desc">
                <mat-card-content (click)="openDialog(item)">
                    {{item.description}}
                </mat-card-content>
                <div class="note-icon">
                    <div>
                        <app-reminders-icon></app-reminders-icon>
                    </div>
                    <div>
                        <app-archive-icon [note]="item.id"></app-archive-icon>
                    </div>
                    <div>
                        <app-color-pallete [noteData]="item.id"></app-color-pallete>
                    </div>
                    <div>
                        <app-delete-icon [note]="item.id"></app-delete-icon>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>