.mat-display-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
    width: 55%;
    margin: auto;
    padding-top: 1cm;
}

.mat-display {
    width: 214px;
    min-height: 8rem;
    text-align: left;
}

mat-card {
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    box-shadow: 2px 3px 4px bisque;
}