.mat-display-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    row-gap: 2px;
    width: 60%;
    margin: auto;
}

.mat-display {
    min-width: 8rem;
    min-height: 8rem;
    padding-top: 1cm;
    text-align: center;
}

mat-card {
    border-radius: 15px;
    border: 1px solid transparent;
    margin-right: 0;
    flex-direction: row-reverse;
    box-shadow: 2px 3px 4px bisque;
}