.pallete-container {
    display: flex;
    flex-direction: row;
}

button {
    min-width: 0px;
    padding: 5px;
    line-height: 0px;
    border-radius: 50%;
}

mat-card-title {
    position: absolute;
    z-index: 2;
}