<div style="padding-top: 35px;">
    <form class="formWidth" *ngIf="switchBox==false" (click)="clickBox()">
        <div class="dialogbox">
            <div>Take a note...</div>
            <div class="grid-icon">
                <mat-icon aria-hidden="false" aria-label="Example home icon">brush</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon">list</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon">image</mat-icon>
            </div>
        </div>
    </form>
    <div style="display: flex;justify-content: center;">
        <form class="example-form" *ngIf="switchBox==true" [ngStyle]="{'background-color': color}">
            <input type="text" placeholder="Title" class="tan" style="font-size: 1rem;" [formControl]="title">
            <input type="text" placeholder="Take a note..." class="tan" [formControl]="description">
            <mat-chip-list>
                <mat-chip *ngFor="let chips of selectedItem">{{chips}}</mat-chip>
            </mat-chip-list>
            <div class="icon-button">
                <div class="icon-box">
                    <app-reminders-icon></app-reminders-icon>
                    <app-archive-icon (click)="archiveClick()"></app-archive-icon>
                    <app-color-pallete (colorPalleteEvent)="colorsClick($event)"></app-color-pallete>
                    <div>
                        <button mat-button class="label-button" (click)="labelClick=!labelClick">
                            <mat-icon class="more">more_vertical</mat-icon>
                        </button>
                        <div>
                            <mat-card class="label-card" *ngIf="labelClick" (click)="getLabel();chipLabel=!chipLabel">
                                Add label
                            </mat-card>
                            <mat-card *ngIf="chipLabel" class="chip-list">
                                <div>
                                    <b>Label note</b>
                                </div>
                                <ol *ngFor="let chip of allLabels">
                                    <input type="checkbox" name="{{chip.label}}" [value]="chip.label" (change)="getCheckLabel($event,chip.label)">{{chip.label}}
                                </ol>
                            </mat-card>
                        </div>
                    </div>
                </div>

                <div>
                    <button mat-button (click)="clickBox_()" class="note-button">close</button>
                </div>
            </div>
        </form>
    </div>
</div>