.formWidth {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dialogbox {
    background-color: white;
    width: 45%;
    height: 35px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    font-size: .875rem;
    font-weight: 500;
    opacity: 70%;
}

.grid-icon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
    padding-right: 1em;
}

.note-button {
    font-size: .875rem;
    font-weight: 500;
    float: right;
    position: relative;
    right: 10px;
}

.example-form {
    width: 45%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
}

.tan {
    /* opacity: 80%; */
    background-color: transparent;
    border: none;
    outline: none;
    min-height: 33px;
    padding: 10px 15px;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    font-size: .875rem;
    font-weight: 500;
}

.icon-button {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.icon-box {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.label-button {
    min-width: 0px;
    padding: 5px;
    line-height: 0px;
    border-radius: 50%;
}

.label-card {
    position: absolute;
    left: 7px;
    z-index: 2;
}

.more {
    margin-left: 5px;
}

.chip-list {
    position: absolute;
    z-index: 2;
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 10px; */
}

.chip-set {
    min-width: 100px;
    margin-left: 0px;
}

ol {
    padding-inline-start: 0px;
}